* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Glass Antiqua', sans-serif;
}

header ul {
    list-style-type: none;
}

footer ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #ffb0b0
}

main {
    background-color: #e0c4b9;
}

main div {
    color: black;
}

main ol {
    padding: 30px;
}

main ul {
    padding: 30px;
}

article {
    padding: 30px;
}

img {
    width: 100%
}

.parrafo_medio {
    display: flex;
    padding: 30px;
}

.logo {
    width: 40vh;
    filter: invert(90%) sepia(25%) saturate(381%) hue-rotate(314deg) brightness(94%) contrast(86%);
    /*usé una herramienta online para cambiar el color de un logo en vector*/
}

.navegacion {
    display: flex;
    flex-wrap: wrap;
    height: 90%;
    justify-content: center;
    align-items: end;
}

.navegacion li a {
    padding: 10px;
    background-color: #8d514f;
    border-radius: 27.5px;
    margin: 5px;
    width: fit-content;
}

.navegacion li a:hover {
    background-color: #3e1a15;
}

header div img {
    padding: 10px;
    width: 15%;
}

h1 {
    text-align: center;
    color: black;
}

#historia {
    text-align: center;
    padding: 20px;
}

form {
    padding: 40px;
}

.imagen_principal {
    display: flex;
    justify-content: center;
}

.imagen_principal img {
    width: 100%;
}

.galeria {
    display: flex;
    padding: 5px;
}

.galeria_columna {
    flex: 50%;
    padding: 5px;
}

.parrafos_multiples {
    display: flex;
    padding: 5px;
}

.parrafos_multiples_mitad {
    flex: 50%;
    padding: 40px;
}

footer {
    background-color: #652120;
    display: flex;
    flex-direction: column;
}

footer div {
    width: 100%;
}

footer div p {
    text-align: center;
}

footer ul li a {
    margin: 20px;
}

.redes_sociales {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

i {
    font-size: 40px;
}

/*@MEDIAS*/
@media (max-width: 768px) {

    .parrafos_multiples {
        flex-direction: column;
        padding: 5px;
    }

    .galeria {
        flex-direction: column;
        padding: 5px;
    }

    .galeria_columna {
        flex-direction: column;
        padding: 5px;
    }

}

@media (max-width: 1200px) {
    .parrafos_multiples {
        flex-direction: column;
        padding: 5px;
    }

    .galeria {
        flex-direction: column;
        padding: 5px;
    }

    .galeria_columna {
        flex-direction: column;
        padding: 5px;
    }

}

@media (max-width: 1440px) {
    .parrafos_multiples {
        flex-direction: column;
        padding: 5px;
    }

    .galeria {
        flex-direction: column;
        padding: 5px;
    }

    .galeria_columna {
        flex-direction: column;
        padding: 0px;
    }
}