@media (max-width: 768px) {
	.parrafos_multiples {
		flex-direction: column;
		padding: 5px;
	}
	.galeria {
		flex-direction: column;
		padding: 5px;
	}
	.galeria_columna {
		flex-direction: column;
		padding: 5px;
	}
}
@media (max-width: 1200px) {
	.parrafos_multiples {
		flex-direction: column;
		padding: 5px;
	}
	.galeria {
		flex-direction: column;
		padding: 5px;
	}
	.galeria_columna {
		flex-direction: column;
		padding: 5px;
	}
}
@media (max-width: 1440px) {
	.parrafos_multiples {
		flex-direction: column;
		padding: 5px;
	}
	.galeria {
		flex-direction: column;
		padding: 5px;
	}
	.galeria_columna {
		flex-direction: column;
		padding: 0px;
	}
}