@media (max-width: 768px) {
	.parrafos_multiples {
		flex-direction: column;
	}
	.galeria {
		flex-direction: column;
	}
	.galeria_columna {
		flex-direction: column;
	}
	.formulario {
		width: 100%;
	}
}

@media (max-width: 1000px) {
	.parrafos_multiples {
		flex-direction: column;
	}
	.galeria {
		flex-direction: column;
	}
	.galeria_columna {
		flex-direction: column;
	}
	.formulario {
		width: 100%;
	}
}

@media (max-width: 1200px) {
	.parrafos_multiples {
		flex-direction: column;
	}
	.galeria {
		flex-direction: column;
	}
	.galeria_columna {
		flex-direction: column;
	}
	.formulario {
		width: 35%;
	}
}

@media (min-width: 1201px) {
	.formulario {
		width: 25%;
	}
}